<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="">SignUp</h1>
    <form action="/user" method="post" class="">
        <label for="" class="">Full Name</label>
        <input type="text"  required name="name" class="">
        <label for="" class="">Email</label>
        <input type="email"  required name="email" class="">
        <label for="" class="">Password</label>
        <input type="text"  required name="password" class="">
        <button class="" type="submit"> sign up</button>
    </form>
</body>
</html>